<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="basicSample_cs_p.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="codigoEmpresa" value="2003" />
    <!--<add key="local_arquivo" value="C:\!adl\Ayesa\EPT_Suporte\180604 Salesforce\190114 Higienizacao ExternalID\UAT\duplicados.txt"/>-->
    <!--<add key="local_arquivo" value="C:\!adl\Ayesa\EPT_Suporte\180604 Salesforce\\181120 Higienizacao Account CE\Refazer3 190122\Clientes Base.txt"/>-->
    <!--<add key="local_arquivo" value="C:\!adl\Ayesa\EPT_Suporte\180604 Salesforce\\181120 Higienizacao Account CE\\190201 PROD\00_CE_doc_duplicados_PROD.txt"/>-->
    <!--<add key="local_arquivo" value="C:\!adl\Ayesa\EPT_Suporte\180604 Salesforce\\181120 Higienizacao Account CE\\\190205 PROD\00_CE_doc_duplicados_PROD - Copia.txt"/>-->
    <add key="local_arquivo" value="C:\!adl\Ayesa\EPT_Suporte\180604 Salesforce\181120 Higienizacao Account CE\190213 PROD\CE_doc_duplicados_PROD.txt" />
    <add key="nomeArquivo" value="aaa" />
    <add key="inputSqlModif_GB_RJ" value="c:\temp\Modif\Sql_Modif_GB_RJ.txt" />
    <!--tipoExtracao Delta -> Extração de MODIF... Diferente disso, pega extração geral-->
    <add key="tipoExtracao" value="Delta" />
    <add key="localArquivoDados" value="" />
    <add key="arquivo" value="FALSE" />
    <add key="outputArquivo" value="c:\\temp\\" />
    <add key="outputArquivoLog" value="c:\\temp\\" />
    <add key="CommitArquivo" value="1000" />
    <add key="ModifQuantidadeDias" value="7" />
    <!--<add key="pathAccountSf" value="D:\Salesforce\Modif\account_sf_{0}.txt"/>-->
    <add key="pathAccountSf" value="c:\temp\Modif\account_sf_{0}.txt" />
    <!--DES - Armazena dados de Conta e Endereço-->
    <!--brsyfz001des-->
    <add key="ConnectionStringAmplaDes" value="Database=clientes;Host=10.14.32.70;Server=clientes;Service=12999;Protocol=onsoctcp;UID=clientes;Password=clides;Pooling=true;Min Pool Size=0;Max Pool Size=4000;Enlist=true;Connection Lifetime=5;" />
    <add key="ConnectionStringCoelceDes" value="Database=clientes;Host=10.14.32.72;Server=clientes;Service=60054;Protocol=onsoctcp;UID=clientes;Password=clides;Pooling=true;Min Pool Size=0;Max Pool Size=4000;Enlist=true;Connection Lifetime=5;" />
    <!--PRO-->
    <!--brsyfz005_vir-->
    <add key="ConnectionStringAmplaPro" value="Database=clientes;Host=10.14.45.66;Server=clientes;Service=12999;Protocol=onsoctcp;UID=clientes;Password=cli4pro;Pooling=true;Min Pool Size=0;Max Pool Size=4000;Enlist=true;Connection Lifetime=5;" />
    <add key="ConnectionStringAmplaProGA" value="Database=grandes;Host=10.14.45.66;Server=clientes;Service=12999;Protocol=onsoctcp;UID=clientes;Password=cli4pro;Pooling=true;Min Pool Size=0;Max Pool Size=4000;Enlist=true;Connection Lifetime=5;Connect Timeout=60000" />
    <add key="ConnectionStringCoelcePro" value="Database=clientes;Host=10.14.45.45;Server=clientes;Service=60054;Protocol=onsoctcp;UID=clientes;Password=cli4pro;Pooling=true;Min Pool Size=0;Max Pool Size=4000;Enlist=true;Connection Lifetime=5;" />
    <add key="ConnectionStringCoelceProGA" value="Database=grandes;Host=10.14.45.45;Server=clientes;Service=60054;Protocol=onsoctcp;UID=clientes;Password=cli4pro;Pooling=true;Min Pool Size=0;Max Pool Size=4000;Enlist=true;Connection Lifetime=5;Connect Timeout=60000" />
    <!--<add key="ConnectionStringAmplaPro" value="Database=clientes;Host=brsyrz005_vir;Server=clientes;Service=12999;Protocol=onsoctcp;UID=clientes;Password=clides;Pooling=true;Min Pool Size=0;Max Pool Size=4000;Enlist=true;Connection Lifetime=5;" />-->
    <!--<add key="ConnectionStringCoelcePro" value="Database=clientes;Host=brsyfz005_vir;Server=clientes;Service=60054;Protocol=onsoctcp;UID=clientes;Password=cli4pro;Pooling=true;Min Pool Size=0;Max Pool Size=4000;Enlist=true;Connection Lifetime=5;" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
  <applicationSettings>
    <basicSample_cs_p.Properties.Settings>
      <setting name="basicSample_cs_p_apex_SforceService" serializeAs="String">
        <value>https://www.salesforce.com/services/Soap/u/10.0</value>
      </setting>
      <setting name="basicSample_cs_p_apexMetadata_MetadataService" serializeAs="String">
        <value>https://na1-api-blitz01.soma.salesforce.com/services/Soap/m/10.0</value>
      </setting>
    </basicSample_cs_p.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SalesForceEmergenciaSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:62175/GetCorteEnergia2.asmx" binding="basicHttpBinding" bindingConfiguration="SalesForceEmergenciaSoap" contract="WsCorte.SalesForceEmergenciaSoap" name="SalesForceEmergenciaSoap" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>