<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

    <appSettings>
      <add key="arquivo_delta" value="C:\temp\subirDelta_28072018.txt"/>
      <add key="arquivo_sales_geral" value="C:\temp\SalesGeralNova_oioi2020.txt"/>
      <add key="arquivo_nome_diferente" value="C:\temp\NomesDiferentes_20072020.txt"/>
      <add key="arquivo_atualizacao" value="C:\temp\ContasParaMudar_22092018.txt"/>
      <add key="local_arquivo_pai" value="C:\temp\CLIENTE_ANTERIOR_2005_2019-04-05-11-33_REVISADO.txt"/>
      <!--<add key="local_arquivo_desp" value="C:\temp\CLIENTE_ANTERIOR_2003_2018-12-07-18-31.txt"/>-->
      <add key="nome_clientes" value="C:\temp\nomes_del.txt"/>
      <add key="local_arquivo_desp" value="C:\Users\administrador\Desktop\CLIENTE_ANTERIOR_2005_2021-10-29-15-22.txt"/>
    </appSettings>

</configuration>
