<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Warn" internalLogFile="c:\temp\sf_nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="value"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="target01" xsi:type="File" fileName="c:\temp\sf_HigienizarContas_${shortdate}.txt">
      <layout xsi:type="CsvLayout" delimiter="Tab" >
        <column name="date" layout="${longdate}" />
        <column name="level" layout="${uppercase:${level}}" />
        <column name="message" layout="${message}" />
        <column name="exception" layout="${exception:format=tostring}" />
      </layout>
    </target>
    
    <target name="target02" xsi:type="File" fileName="c:\temp\sf_AtualizarModif_${shortdate}.txt"  layout="${longdate}|${uppercase:${level}}|${message}" />

    <target name="target03" xsi:type="Mail"
            smtpServer="smtp.office365.com"
            smtpAuthentication="Basic"
            smtpPort="587"
            smtpUserName="amoraes@ayesa.com"
            smtpPassword="adlMt005"
            useSystemNetMailSettings="false"
            enableSsl="true"
            from="amoraes@Ayesa.com"
            to="amoraes@ayesa.com"
          />
    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="HigienizarContasLog" minlevel="Debug" writeTo="target01" />
    <logger name="HigienizarContasMail" minlevel="Debug" writeTo="target03" />
    <logger name="ModifLog" minlevel="Debug" writeTo="target02" />
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>
