<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="tipoExtracao" value="Delta" />
    <add key="localArquivoDados" value="" />
    <add key="arquivo" value="FALSE" />
    <add key="outputArquivo" value="c:\\temp\\" />
    <add key="outputArquivoLog" value="c:\\temp\\"/>
    <add key="CommitArquivo" value="1000" />
    <add key="ModifQuantidadeDias" value="1" />
    <add key="pathAccountSf" value="c:\temp\Modif\account_sf_{0}.txt"/>

    <!--DES-->
    <!--brsyfz001des-->
    <add key="ConnectionStringAmplaDes" value="Database=clientes;Host=10.14.45.66;Server=clientes;Service=12999;Protocol=onsoctcp;UID=clientes;Password=clides;Pooling=true;Min Pool Size=0;Max Pool Size=4000;Enlist=true;Connection Lifetime=5;" />
    <add key="ConnectionStringCoelceDes" value="Database=clientes;Host=10.14.45.45;Server=clientes;Service=60054;Protocol=onsoctcp;UID=clientes;Password=clides;Pooling=true;Min Pool Size=0;Max Pool Size=4000;Enlist=true;Connection Lifetime=5;"/>

    <!--PRO-->
    <!--brsyfz005_vir-->
    <add key="ConnectionStringAmplaPro" value="Database=clientes;Host=10.14.45.66;Server=clientes;Service=12999;Protocol=onsoctcp;UID=clientes;Password=cli4pro;Pooling=true;Min Pool Size=0;Max Pool Size=4000;Enlist=true;Connection Lifetime=5;" />
    <add key="ConnectionStringAmplaProGA" value="Database=grandes;Host=10.14.45.66;Server=clientes;Service=12999;Protocol=onsoctcp;UID=clientes;Password=cli4pro;Pooling=true;Min Pool Size=0;Max Pool Size=4000;Enlist=true;Connection Lifetime=5;Connect Timeout=60000" />
    <add key="ConnectionStringCoelcePro" value="Database=clientes;Host=10.14.45.45;Server=clientes;Service=60054;Protocol=onsoctcp;UID=clientes;Password=cli4pro;Pooling=true;Min Pool Size=0;Max Pool Size=4000;Enlist=true;Connection Lifetime=5;" />
    <add key="ConnectionStringCoelceProGA" value="Database=grandes;Host=10.14.45.45;Server=clientes;Service=60054;Protocol=onsoctcp;UID=clientes;Password=cli4pro;Pooling=true;Min Pool Size=0;Max Pool Size=4000;Enlist=true;Connection Lifetime=5;Connect Timeout=60000" />

    <!--PRE-->
    <add key="ConnectionStringCoelcePre" value="Database=clientes;Host=10.14.43.114;Server=clientes;Service=60054;Protocol=onsoctcp;UID=clientes;Password=clipre;Pooling=true;Min Pool Size=0;Max Pool Size=4000;Enlist=true;Connection Lifetime=5;" />
    <add key="ConnectionStringCoelcePreGA" value="Database=grandes;Host=10.14.43.114;Server=clientes;Service=60054;Protocol=onsoctcp;UID=clientes;Password=clipre;Pooling=true;Min Pool Size=0;Max Pool Size=4000;Enlist=true;Connection Lifetime=5;" />
  </appSettings>
</configuration>