<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Pangea.InterfacesIntegracao.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <!--<connectionStrings>
    <add name="ServiceURIAmpla" connectionString="Database=clientes;Host=10.14.32.70;Server=clientes;Service=12999;Protocol=onsoctcp;UID=clientes;Password=clides;Pooling=true;Min Pool Size=0;Max Pool Size=4000;Enlist=true;Connection Lifetime=5;"/> 
  </connectionStrings>-->
  <appSettings>
    <add key="ServiceURIAmpla" value="Database=clientes;Host=10.14.45.66;Server=clientes;Service=12999;Protocol=onsoctcp;UID=clientes;Password=cli4pro;Pooling=true;Min Pool Size=0;Max Pool Size=10;Enlist=true;Connection Lifetime=5;"/>
    <add key="ServiceURICoelce" value="Database=clientes;Host=10.14.45.45;Server=clientes;Service=60054;Protocol=onsoctcp;UID=clientes;Password=cli4pro;Pooling=true;Min Pool Size=0;Max Pool Size=10;Enlist=true;Connection Lifetime=5;"/>
    <add key="local_arquivo" value="c:\temp\"/>
    <!--<add key="ServiceURIAmpla" value="Provider=Ifxoledbc;Data Source=clientes@clientes;User ID=clientes;Password=clides;"/>-->

    <!-- Conexão SFTP -->
    <add key="IpServerSftp" value="10.14.32.70"/>
    <add key="portaSftp" value="3105"/>
    <add key="UsuarioSftp" value="clientes"/>
    <add key="SenhaSftp" value="clides"/>

    <!-- 180 - Allineamento Fatturato -->
    <add key="CaminhoSftpArqConsumoAmpla" value="/home/clientes/RMenezes/AlinhaFat_GrupoB_RJ_201706.txt"/>
    <add key="CaminhoSftpArqConsumoCoelce" value="/home/clientes/RMenezes/AlinhaFat_GrupoB_CE_201706.txt"/>
    <add key="CaminhoLocalArqConsumoAmpla" value="C:\CNR\AlinhaFat_GrupoB_RJ.txt"/>
    <add key="CaminhoLocalArqConsumoCoelce" value="C:\CNR\AlinhaFat_GrupoB_CE.txt"/>

    <!-- 181 - Refact_Canc_Tois -->
    <add key="CaminhoSftpArqRefactCancToisAmpla" value="/home/clientes/RMenezes/RefactCancTois_GrupoB_RJ_201706.txt"/>
    <add key="CaminhoSftpArqRefactCancToisCoelce" value="/home/clientes/RMenezes/RefactCancTois_GrupoB_CE_201706.txt"/>
    <add key="CaminhoLocalArqRefactCancToisAmpla" value="C:\CNR\RefactCancTois_GrupoB_RJ.txt"/>
    <add key="CaminhoLocalArqRefactCancToisCoelce" value="C:\CNR\RefactCancTois_GrupoB_CE.txt"/>

    <add key="Source" value="Log.PangeaServiceGB"/>
    <add key="Path" value="C:\XML\"/>
    <add key="PathCoelce" value="C:\XMLCoelce\"/>
    <add key="NomeArquivo" value="clienteModMedidor.txt"/>
    <add key="CaminhoArquivo" value="C:\arquivo\"/>
    <add key="NomeDoArquivoAmpla" value="xmlResultadoCorteAmpla.xml"/>
    <add key="NomeDoArquivoAmplaSolocitud" value="xmlAmplaSolocitud.xml"/>
    <add key="NomeDoArquivoCoelce" value="xmlResultadoCorteCoelce.xml"/>
    <add key="NomeDoArquivoSolBloqCorteAmpla" value="xmlSolBloqCorteAmpla.xml"/>
    <add key="NomeDoArquivoSolBloqCorteCoelce" value="xmlSolBloqCorteCoelce.xml"/>
    <add key="NomeDoArquivoCargosCoelce" value="xmlCargosTrabalhoCoelce.xml"/>
    <add key="NomeDoArquivoCargosAmpla" value="xmlCargosTrabalhoAmpla.xml"/>
    <add key="NomeDoArquivoRetornoOrdemAmpla" value="xmlRetornoOrdemAmpla.xml"/>
    <add key="NomeDoArquivoRetornoOrdemCoelce" value="xmlRetornoOrdemCoelce.xml"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
