<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="caminho" value="C:\Users\blawe\Desktop\Programas\Anonimo new\Script\scripr_bxr_massivo.cs"/>
		<!--<add key="login" value="migracionbrasil2@enel.com"/>
		<add key="senha" value="EnelBR_Migracion18244WNLv5JdO9wi6gh3QOTJq3Lup"/>-->
		<add key="login" value="migracionbrasil3@enel.com"/>
		<add key="senha" value="Format2022+++3iDih7uwD0Cr2w1Vx0oaSd1Sb"/>
		<add key="limite" value="10"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
